.pageTitle {
    justify-content: center;
    align-content: center;
    margin-bottom: 12px;

    border-radius: 10px;

    h1 {
        font-family: Acme, "Helvetica Neue", sans-serif;
        font-size: 1.5em;
        font-weight: bolder;
        color: #1f0949;
    }
}
